<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="piper_x">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0085443 4.8839E-05 0.044762"
        rpy="0 0 0" />
      <mass
        value="0.47421" />
      <inertia
        ixx="0.00044509"
        ixy="5.5896E-07"
        ixz="1.9736E-05"
        iyy="0.00049109"
        iyz="7.1578E-07"
        izz="0.00055319" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/base_link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/base_link.dae" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.0011378 -0.0021698 -0.014112"
        rpy="0 0 0" />
      <mass
        value="0.16975" />
      <inertia
        ixx="6.466E-05"
        ixy="7.2374E-07"
        ixz="5.1556E-08"
        iyy="8.8951E-05"
        iyz="1.0827E-07"
        izz="8.3142E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/joint1.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/joint1.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.123"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.618"
      upper="2.618"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.21036 -0.01651 0.0015283"
        rpy="0 0 0" />
      <mass
        value="0.37783" />
      <inertia
        ixx="0.00022199"
        ixy="3.2631E-05"
        ixz="-6.2643E-06"
        iyy="0.0019854"
        iyz="-3.0109E-06"
        izz="0.0020664" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/joint2.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 0.875" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/joint2.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -0.13586 3.1416" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.15119 -0.0060622 0.0013657"
        rpy="0 0 0" />
      <mass
        value="0.28003" />
      <inertia
        ixx="9.0698E-05"
        ixy="8.6875E-07"
        ixz="-2.0769E-06"
        iyy="0.00035668"
        iyz="1.1019E-06"
        izz="0.00039114" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/joint3.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/joint3.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.28503 0 0"
      rpy="0 0 2.8377" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9671"
      upper="0"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.041795 -0.032887 -0.0088781"
        rpy="0 0 0" />
      <mass
        value="0.1211" />
      <inertia
        ixx="5.6173E-05"
        ixy="-8.0853E-07"
        ixz="-5.604E-07"
        iyy="6.2662E-05"
        iyz="-1.3477E-07"
        izz="6.8648E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/joint4.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 0.875" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/joint4.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.27264 0 0"
      rpy="0 0 0.075129" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.0041507 0.00024807 -0.015852"
        rpy="0 0 0" />
      <mass
        value="0.094498" />
      <inertia
        ixx="4.0846E-05"
        ixy="5.2625E-08"
        ixz="7.7998E-07"
        iyy="2.5458E-05"
        iyz="-2.0306E-07"
        izz="3.3445E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/joint5.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/joint5.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.076857 0.00062395 0"
      rpy="-1.5708 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="4.4377E-07 -1.9614E-05 0.031556"
        rpy="0 0 0" />
      <mass
        value="0.0061311" />
      <inertia
        ixx="5.1682E-07"
        ixy="9.18E-25"
        ixz="1.1291E-22"
        iyy="5.1683E-07"
        iyz="2.6088E-09"
        izz="9.833E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0.002 0.0078 0.06"
        rpy="-1.57 0 3.14" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/gripper_base_100_v2.dae" scale="0.8 0.8 0.8"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.002 0.0078 0.06"
        rpy="-1.57 0 3.14" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/gripper_base_100_v2.dae" scale="0.8 0.8 0.8"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.035 0 0"
      rpy="1.5708 0 1.5708" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="10" />
  </joint>

</robot>
