<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="piper_x_description">
  <link
    name="base_link">
  <inertial>
    <origin xyz="-0.00347 -0.00012 0.04283" rpy="0 0 0"/>
    <mass value="1.07"/>
    <inertia
      ixx="0.00298745"
      ixy="0.00000369"
      ixz="0.00016646"
      iyy="0.00312688"
      iyz="0.00000832"
      izz="0.00093042"/>
  </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/base_link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/base_link.dae" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin xyz="0.00065 0.00006 -0.00325" rpy="0 0 0"/>
      <mass
        value="0.71" />
      <inertia
        ixx="0.00051254"
        ixy="0.00000294"
        ixz="0.00001039"
        iyy="0.00041089"
        iyz="0.00000240"
        izz="0.00045962"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J1.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J1.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.123"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.618"
      upper="2.618"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin xyz="0.21854 -0.00853 0.00234" rpy="0 0 0"/>
      <mass value="1.16"/>
      <inertia
        ixx="0.00109788"
        ixy="0.00180610"
        ixz="0.00055040"
        iyy="0.06763354"
        iyz="0.00000813"
        izz="0.06762540"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J2.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -0.13586 3.1416" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin xyz="0.20190 -0.00415 -0.00114" rpy="0 0 0"/>
      <mass value="0.67"/>
      <inertia
        ixx="0.00033471"
        ixy="0.00026891"
        ixz="0.00013918"
        iyy="0.03360411"
        iyz="0.00000052"
        izz="0.03356941"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J3.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J3.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.28503 0 0"
      rpy="0 0 2.8377" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9671"
      upper="0"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin xyz="0.06593 -0.04751 -0.00274" rpy="0 0 0"/>
      <mass value="0.4"/>
      <inertia
        ixx="0.00120173"
        ixy="0.00138165"
        ixz="0.00001187"
        iyy="0.00209324"
        iyz="0.00000217"
        izz="0.00307814"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J4.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 0.875" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J4.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.27264 0 0"
      rpy="0 0 0.075129" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin xyz="0.00005 0.0 -0.00417" rpy="0 0 0"/>
      <mass value="0.35"/>
      <inertia
        ixx="0.00022660"
        ixy="0.00000019"
        ixz="0.00000005"
        iyy="0.00017740"
        iyz="0.00000085"
        izz="0.00019425"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J5.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J5.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.076857 0.00062395 0"
      rpy="-1.5708 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin xyz="0 0 -0.00351" rpy="0 0 0"/>
      <mass value="0.007"/>
      <inertia
        ixx="0.00000064"
        ixy="0"
        ixz="0"
        iyy="0.00000064"
        iyz="0"
        izz="0.00000106"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 -0.035"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 -0.035"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.035 0 0"
      rpy="1.5708 0 1.5708" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="10" />
    </joint>

</robot>