<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="piper">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import piper urdf file -->
    <xacro:include filename="$(find piper_description)/urdf/piper_description.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="piper.ros2_control.xacro" />

    <xacro:piper_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>