<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="piper_l_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00868903062596066 -7.81380379250471E-05 0.0446229676471226"
        rpy="0 0 0" />
      <mass
        value="0.228506683240186" />
      <inertia
        ixx="0.000187231110737863"
        ixy="-1.08010529187549E-07"
        ixz="7.71183528612253E-06"
        iyy="0.000204010911651774"
        iyz="1.70367399031094E-07"
        izz="0.00023064619033588" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.000817078696798893 0.00114472671573105 -0.00814265146610774"
        rpy="0 0 0" />
      <mass
        value="0.104656591084326" />
      <inertia
        ixx="3.99694684501781E-05"
        ixy="2.71846206160129E-07"
        ixz="1.78275886199695E-07"
        iyy="5.78589658643876E-05"
        iyz="1.01977672018063E-07"
        izz="4.75851844139222E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.123"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="100" velocity="3" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.214411452554835 -0.0136807991474291 0.00265923105206891"
        rpy="0 0 0" />
      <mass
        value="0.289829779851577" />
      <inertia
        ixx="0.000159609737372076"
        ixy="8.49438511625834E-05"
        ixz="-8.73341391348404E-07"
        iyy="0.00182424524515505"
        iyz="-1.7222217649261E-06"
        izz="0.00188778950006189" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -0.1745 3.1416" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit lower="0" upper="3.14" effort="100" velocity="3" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.00911397384332024 -0.149791842909887 -0.000591510024110218"
        rpy="0 0 0" />
      <mass
        value="0.144963320053385" />
      <inertia
        ixx="0.000284000764414434"
        ixy="6.61776597268393E-06"
        ixz="3.88642213881568E-07"
        iyy="4.88134965842348E-05"
        iyz="8.80027301936097E-07"
        izz="0.000297733639002112" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.33823 0 0"
      rpy="0 0 -1.8325" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit lower="-2.697" upper="0" effort="100" velocity="3" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.0010653905699945 0.00476990191039629 -0.00995810184233214"
        rpy="0 0 0" />
      <mass
        value="0.063036548689954" />
      <inertia
        ixx="1.68358640686144E-05"
        ixy="-1.51073528999065E-08"
        ixz="-3.61196055919328E-07"
        iyy="2.79335598814104E-05"
        iyz="1.18113194001076E-07"
        izz="1.85339684805634E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 -0.3215 0"
      rpy="1.5708 0 0.1557" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit lower="-1.832" upper="1.832" effort="100" velocity="3" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-5.62618579153795E-05 -0.0453229588602131 -0.00689048082401968"
        rpy="0 0 0" />
      <mass
        value="0.069099989781007" />
      <inertia
        ixx="1.94244470320096E-05"
        ixy="-3.01270043465718E-08"
        ixz="-1.82908713601451E-08"
        iyy="2.97665185121334E-05"
        iyz="1.74803886281955E-07"
        izz="2.43073597160068E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 -0.087272 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 -1" />
    <limit lower="-1.22" upper="1.22" effort="100" velocity="3" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-3.49720252756924E-15 -3.47851379593264E-06 -0.00315807577104896"
        rpy="0 0 0" />
      <mass
        value="0.00563228459599247" />
      <inertia
        ixx="5.13060019382932E-07"
        ixy="-1.55709158367416E-20"
        ixz="1.27617424904681E-19"
        iyy="5.13060019383189E-07"
        iyz="6.20132760426175E-20"
        izz="9.81761489300716E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_l_description/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 -0.091 0"
      rpy="1.5708 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="3" />
  </joint>
</robot>